@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Roboto:wght@100;300&display=swap");

html {
  background-color: #072329;
  margin: 0;
  font-size: 16px;
  overflow: hidden;
  width: 100%;
}
/* Navbar */
.navbar {
  display: grid;
  grid-template-columns: [col1] 1fr [col2] 1.25fr [col3] 1fr;
  grid-template-rows: [row1] 100%;
  background-color: #072329;
  column-gap: 1rem;
  height: calc(85px - 1vh);
  font-family: "Orbitron", sans-serif;
}
.navbarLeft {
  display: grid;
  grid-template-columns: [col1] 1fr [col2] 1fr;
  grid-template-rows: [row1] 100%;
}
.btnHome {
  align-self: center;
  justify-self: center;
}
.btnAbout {
  justify-self: start;
  align-self: center;
  color: white;
}
.navbarMid {
  display: grid;
  grid-template-columns: [col1] 1fr;
  grid-template-rows: [row1] 1fr;
  place-items: center;
  border-right: 3px solid white;
  border-left: 3px solid white;
}
.navbarRight {
  display: grid;
  grid-template-columns: [col1] 1fr [col2] 1fr;
  grid-template-rows: [row1] 2fr;
  justify-items: center;
  align-items: center;
}
.btnProjects {
  justify-self: end;
}
.navbar h2 {
  color: #5ebce7;
  font-size: calc(22px + (40 - 22) * ((100vw - 300px) / (1920 - 300)));
}
.btn {
  text-decoration: none;
  border: none;
  background-color: #072329;
  color: #5ebce7;
  font-family: "Times New Roman", serif;
  font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
}

.btn:hover {
  cursor: pointer;
  color: #f3a94c;
  background-color: #072329;
}
.navbarLinkSelected {
  background-color: #072329;
  color: #f3a94c;
}

/* Navbar Mobile */
.fa-bars {
  position: fixed;
  color: #c4d8e1;
  font-size: calc(25px + (50 - 25) * ((100vw - 320px) / (1920 - 320)));
  margin-top: calc(1rem + 0.390625vw);
  margin-left: calc(1.5rem + 0.390625vw);
  z-index: 10;
}
.fa-bars:hover {
  cursor: pointer;
}
.navbarMobile {
  position: fixed;
  width: 28vw;
  margin-left: calc(1.25rem + 1vw);
  height: calc(200px + (250 - 200) * ((100vw - 320px) / (1920 - 320)));
  overflow: auto;
  margin-top: calc(70px - 0.390625vw);
  font-size: calc(16px + (32 - 16) * ((100vw - 300px) / (1920 - 300)));
  z-index: 10;
  border-radius: 5px;
  background-color: #c4d8e1;
}
.btnMobile {
  padding: calc(0.85rem + 0.390625vw);
  display: block;
  text-align: center;
  text-decoration: none;
  color: #072329;
}
.btnMobile:hover {
  color: #031013;
  background-color: #5ebce7;
}

/* HOME PAGE STYLING */
.homeBodyContainer {
  display: grid;
  background-color: #072329;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
  row-gap: 1rem;
  max-height: 93vh;
  min-height: 85vh;
  width: 100%;
}
#homeBodyTitle {
  filter: brightness(120%);
  font-size: calc(54px + (90 - 54) * ((100vw - 320px) / (1920 - 320)));
  font-family: "Orbitron", sans-serif;
  grid-column: 9 / 11;
  grid-row: 5 / 7;
  color: #c4d8e1;
  z-index: 5;
  animation: fadeIn 1s;
}
#portraitImg {
  max-height: 27vh;
  max-width: 12vw;
  grid-column: 9 / 11;
  grid-row: 9 / 15;
  border-radius: 50%;
  margin-left: calc(9rem - 0.390625vw);
  z-index: 5;
  animation: fadeIn 1s;
}
#homeBodyText {
  color: #c4d8e1;
  filter: brightness(120%);
  grid-column: 8 / 14;
  grid-row: 16 / 18;
  font-size: calc(24px + (25 - 24) * ((100vw - 320px) / (1920 - 320)));
  font-family: "Orbitron", sans-serif;
  z-index: 5;
  margin-left: 1rem;
  animation: fadeIn 1s;
}
#homeBodyBtn {
  border: 1px solid transparent;
  background-color: #f58f10;
  text-decoration: none;
  color: #031013;
  border-radius: 20px;
  grid-column: 9 / 11;
  margin-left: 9rem;
  text-align: center;
  grid-row: 19 / 20;
  padding: 1rem;
  min-width: 7vw;
  max-width: 8vw;
  min-height: 2vh;
  max-height: 3vh;
  z-index: 5;
  box-shadow: 1px 2px 4px 1px black;
  animation: fadeIn 1s ease-out;
}
#homeBodyBtn:hover {
  cursor: pointer;
  border: 1px solid #c4d8e1;
  color: #c4d8e1;
  box-shadow: 1px 2px 4px 3px black;
}

.computerImg {
  filter: brightness(55%);
  max-height: 11vh;
  min-height: 7vh;
  max-width: 60vw;
  min-width: 40vw;
}
.imgTop {
  top: 25%;
  left: 29vw;
  animation: slideInRight 0.5s ease-out;
  z-index: 1;
  position: absolute;
}
.imgMid1 {
  top: 40%;
  left: 25vw;
  margin-left: 3rem;
  animation: slideInLeft 0.5s ease-out;
  z-index: 1;
  position: absolute;
}
.imgMid2 {
  top: 55%;
  left: 30vw;
  margin-left: 1rem;
  animation: slideInRight 0.5s ease-out;
  z-index: 1;
  position: absolute;
}
.imgBottom {
  top: 70%;
  left: 28vw;
  margin-right: 2rem;
  z-index: 1;
  position: absolute;
  animation: slideInLeft 0.5s ease-out;
}
/*ABOUT PAGE*/
.aboutBodyContainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  height: 90vh;
  width: 100%;
  z-index: 5;
  overflow: hidden;
}

.aboutBodyBox1 {
  display: grid;
  font-family: "Roboto", sans-serif;
  grid-column: 2 / 8;
  border: 1px solid #f58f10;
  background-color: #031013;
  animation: slideInLeft 0.4s ease-out;
  place-items: center;
  grid-row: 2 / 6;
  color: #f3a94c;
  font-size: calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));
}
.aboutBodyBox1 p {
  padding: 0rem 2rem 0rem 2rem;
}
.aboutBodyBox1:hover {
  border: 1px solid #f3a94c;
}
.aboutBodyBox2 {
  display: grid;
  font-size: calc(18px + (25 - 18) * ((100vw - 320px) / (1920 - 320)));
  border: 1px solid #f58f10;
  color: #f3a94c;
  padding: 0.5rem;
  grid-row: 6 / 10;
  align-content: space-evenly;
  justify-content: center;
  grid-column: 2 / 4;
  background-color: #031013;
  animation: slideInUp 1s ease-out;
}
.aboutBodyDynamicBox {
  display: grid;
  grid-column: 4 / 8;
  grid-row: 6 / 10;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  background-color: #031013;
  color: #f3a94c;
  border: 1px solid #f58f10;
  animation: slideInRight 0.8s ease-out;
}
.aboutBodyDynamicBox:hover {
  border: 1px solid #f3a94c;
  cursor: pointer;
}
.aboutBodyDynamicBox h3 {
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
}
.fa-html5,
.fa-js,
.fa-css3-alt,
.fa-node,
.fa-react,
.fa-php,
.fa-square-git,
.fa-github {
  color: #f3a94c;
  font-size: calc(32px + (46 - 32) * ((100vw - 320px) / (1920 - 320)));
}
.aboutBodyArrow {
  display: grid;
  grid-template-columns: [col1] 100%;
  grid-template-rows: [row1] 25% [row2] 25%;
  grid-column: 8 / 10;
  grid-row: 3 / 8;
  color: #f3a94c;
  animation: fadeIn 2s;
  place-items: center;
  align-content: center;
}
.aboutBodyArrow h2 {
  font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1920 - 320)));
}
.linkToProjects {
  justify-self: end;
}
.fa-arrow-right-long {
  padding: 0.5rem;
  font-size: calc(16px + (80 - 16) * ((100vw - 320px) / (1920 - 320)));
  color: #f3a94c;
}

.fa-arrow-right-long:hover {
  color: #c4d8e1;
  cursor: pointer;
}
.aboutBackground {
  width: 100%;
  height: 99%;
  position: absolute;
  display: none;
  z-index: 1;
  filter: opacity(70%);
}
.aboutBackground #keyboardImg {
  width: 50%;
  height: 30%;
  position: absolute;
  display: none;
  top: 20%;
  left: 15%;
  z-index: 1;
}

/*--------Projects Page----------*/
.projectDispContainer {
  display: grid;
  grid-template-columns: [col1] 1fr [col2] 2fr [col3] 1fr;
  grid-template-rows: [row1] 20% [row2] 5% [row3] 60% [row3] 10%;
  column-gap: 5px;
  grid-template-areas:
    ". title ."
    ". contactLink ."
    "arrowLeft carWindow arrowRight"
    ". carNav .";
  place-items: center;
  height: 99vh;
  width: 100%;
}
.projectDispContainer h1 {
  grid-area: title;
  color: #f3a94c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-top: 1rem;
  text-shadow: 6px 5px 1px #031013;
  font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1920 - 320)));
}
.projectDispContainer h2 {
  grid-area: contactLink;
  color: #f58f10;
}
#contactMeHyperlink {
  text-decoration: none;
  color: #5ebce7;
}
#contactMeHyperlink:hover {
  color: #c4d8e1;
}
.fa-chevron-right {
  grid-area: arrowRight;
  font-size: calc(28px + (48 - 28) * ((100vw - 320px) / (1600 - 320)));
  color: #f58f10;
  animation: slideInRight 0.5s ease-out;
}
.fa-chevron-left {
  grid-area: arrowLeft;
  font-size: calc(28px + (48 - 28) * ((100vw - 320px) / (1600 - 320)));
  color: #f58f10;
  animation: slideInLeft 0.5s ease-out;
}
.fa-chevron-right:hover {
  cursor: pointer;
  color: #f3a94c;
}
.fa-chevron-left:hover {
  cursor: pointer;
  color: #f3a94c;
}
.carouselNav {
  grid-area: carNav;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: [row1] 100%;
  column-gap: 15px;
  padding: 0.2rem;
}
.fa-circle-notch {
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1600 - 320)));
}
.fa-circle-notch:hover {
  cursor: pointer;
}
.projectDispBox {
  grid-area: carWindow;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
  background-color: #031013;
  height: calc(350px + (450 - 350) * ((100vw - 320px) / (1600 - 320)));
  width: calc(200px + (700 - 200) * ((100vw - 320px) / (1600 - 320)));
  border: 1px solid white;
  animation: lightUp 1s;
}
.projectDispBox h2 {
  grid-column: 2 / 5;
  grid-row: 1 / 1;
  font-size: calc(23px + (32 - 23) * ((100vw - 320px) / (1600 - 320)));
  color: #f58f10;
}
figcaption {
  grid-row: 2 / 2;
  grid-column: 2 / 5;
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1600 - 320)));
  color: #5ebce7;
}
.projectDispBox p {
  grid-row: 3 / 3;
  grid-column: 2 / 5;
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1600 - 320)));
  color: #5ebce7;
}
.projectDispBox a {
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1600 - 320)));
  color: white;
  background-color: #f58f10;
  border-radius: 5%;
  text-decoration: none;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}
.projectDispBox a:hover {
  box-shadow: 1px 1px 7px rgba(126, 126, 126, 0.712);
  cursor: pointer;
}
.projectDispBox #boxLink1 {
  grid-column: 2 / 3;
  grid-row: 4 / 4;
}
.projectDispBox #boxLink2 {
  grid-column: 4 / 5;
  grid-row: 4 / 4;
}
@keyframes slideInLeft {
  from {
    transform: translate(-500%, 0);
  }
  to {
    transform: translate(0%, 0);
  }
}
@keyframes slideInRight {
  from {
    transform: translate(500%, 0);
  }
  to {
    transform: translate(0%, 0);
  }
}
@keyframes slideInDown {
  from {
    transform: translate(0%, -500%);
  }
  to {
    transform: translate(0%, 0);
  }
}
@keyframes slideInUp {
  from {
    transform: translate(0%, 500%);
  }
  to {
    transform: translate(0%, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes lightUp {
  from {
    border: 1px solid transparent;
  }
  to {
    border: 1px solid white;
  }
}
@media screen and (max-width: 1024px) {
  html {
    overflow: hidden;
  }
  .homeBodyContainer {
    row-gap: 1rem;
  }
  #homeBodyTitle {
    grid-column: 9 / 15;
    grid-row: 7 / 8;
  }
  #portraitImg {
    grid-row: 9 /10;
  }
  #homeBodyText {
    grid-column: 8 / 18;
    grid-row: 11 / 15;
  }
  #homeBodyBtn {
    grid-row: 15;
    grid-column: 9 / 10;
  }
  .imgTop {
    top: 32%;
    left: 20%;
  }
  .imgMid1 {
    top: 42%;
    left: 24%;
  }
  .imgMid2 {
    top: 52%;
    left: 18%;
  }
  .imgBottom {
    top: 62%;
  }
}

@media screen and (max-width: 415px) {
  html {
    overflow-y: scroll;
  }
  .homeBodyContainer {
    height: 100vh;
    scroll-snap-type: y mandatory;
  }
  #homeBodyTitle {
    grid-column: 1 / 20;
    padding: 1rem;
    grid-row: 7 / 11;
    margin-left: 1rem;
  }
  #homeBodyBtn {
    display: none;
  }
  #homeBodyText {
    grid-column: 1 / 20;
    grid-row: 12 / 17;
    padding: 1rem;
  }
  #portraitImg {
    display: none;
  }
  .aboutBodyArrow {
    display: none;
  }
  .computerImg {
    filter: brightness(55%);
    min-height: 11vh;
  }
  .imgTop {
    top: 20%;
    left: 20vw;
    animation: slideInRight 0.5s ease-out;
    z-index: 1;
    position: absolute;
  }
  .imgMid1 {
    top: 40%;
    left: 15vw;
    margin-left: 3rem;
    animation: slideInLeft 0.5s ease-out;
    z-index: 1;
    position: absolute;
  }
  .imgMid2 {
    top: 60%;
    left: 18vw;
    margin-left: 1rem;
    animation: slideInRight 0.5s ease-out;
    z-index: 1;
    position: absolute;
  }
  .imgBottom {
    top: 75%;
    left: 15vw;
    margin-right: 2rem;
    z-index: 1;
    position: absolute;
    animation: slideInLeft 0.5s ease-out;
  }
  .aboutBodyContainer {
    height: 100vh;
    scroll-snap-type: y mandatory;
  }
  .aboutBodyBox1 {
    grid-column: 2 / 10;
    grid-row: 2 / 7;
  }
  .aboutBodyDynamicBox {
    grid-column: 2 / 10;
    grid-row: 7 / 9;
  }
  .aboutBodyBox2 {
    grid-column: 2 / 10;
    grid-row: 9 / 11;
  }
  .projectDispContainer {
    scroll-snap-type: y mandatory;
    height: 100vh;
    margin: 0;
  }
  .projectDispContainer h1 {
    border: 2px dotted #f58f10;
    padding: 5px;
  }
}
@media screen and (max-width: 391px) {
  .aboutBodyBox1 {
    grid-column: 2 / 10;
  }
  .aboutBodyBox2 {
    grid-column: 2 / 10;
  }
  .aboutBodyDynamicBox {
    grid-column: 2 / 10;
  }
}
