@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Roboto:wght@100;300&display=swap");

html {
  background-color: #072329;
  margin: 0;
  width: 100%;
}
body #root {
  height: 99vh;
  width: 100%;
}
/* Navbar */
.navbar {
  display: grid;
  grid-template-columns: [col1] 1fr [col2] 1.25fr [col3] 1fr;
  grid-template-rows: [row1] 100%;
  background-color: #072329;
  column-gap: 3rem;
  height: 7vh;
}
.navbarLeft {
  display: grid;
  grid-template-columns: [col1] 1fr [col2] 1fr;
  grid-template-rows: [row1] 100%;
}
.btnHome {
  align-self: center;
  justify-self: center;
}
.btnAbout {
  justify-self: start;
  align-self: center;
  color: white;
}
.navbarMid {
  display: grid;
  grid-template-columns: [col1] 1fr;
  grid-template-rows: [row1] 1fr;
  justify-items: center;
  align-items: center;
  height: 7vh;
  border-right: 3px solid white;
  border-left: 3px solid white;
}
.navbarRight {
  display: grid;
  grid-template-columns: [col1] 1fr [col2] 1fr;
  grid-template-rows: [row1] 2fr;
  justify-items: center;
  align-items: center;
}
.btnProjects {
  justify-self: end;
}
.navbar h2 {
  font: 2rem "Orbitron", sans-serif;
  color: #5ebce7;
}
.btn {
  text-decoration: none;
  border: none;
  background-color: #072329;
  color: #5ebce7;
  font: 1.1rem "Times New Roman", serif;
}
.btn:hover {
  cursor: pointer;
  color: #f3a94c;
  background-color: #072329;
  border-radius: 22px 50px;
}
.navbarLinkSelected {
  background-color: "#072329";
  border-radius: 22px 50px;
  color: #f3a94c;
}

/* HOME PAGE STYLING */
.homeHeader {
  display: grid;
  background-color: #072329;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  row-gap: 1rem;
  height: 100%;
  width: 100%;
}
.homeHeaderTitle {
  filter: brightness(120%);
  font: 6.5rem "Orbitron", sans-serif;
  grid-column: 2 / 10;
  grid-row: 3 / span 4;
  margin-left: 3rem;
  color: #c4d8e1;
  z-index: 5;
}
.homeHeader #portraitImg {
  height: 27vh;
  width: 10vw;
  grid-column: 5 / 6;
  grid-row: 5 / 6;
  border-radius: 50%;
  margin-left: 5rem;
  z-index: 5;
}
.homeHeaderText {
  color: #c4d8e1;
  filter: brightness(120%);
  grid-column: 3 / 9;
  grid-row: 6 / 9;
  font: 1.55rem "Orbitron", sans-serif;
  z-index: 5;
}
.homeHeaderBtn {
  border: 1px solid transparent;
  background-color: #f58f10;
  margin: 1rem 0rem 0rem 5rem;
  text-decoration: none;
  color: #031013;
  border-radius: 20px;
  grid-column: 5 / 6;
  font-size: 1rem;
  text-align: center;
  grid-row: 8 / 9;
  padding: 1rem 2rem 1rem 2rem;
  z-index: 5;
  box-shadow: 1px 2px 4px 1px black;
}
.homeHeaderBtn:hover {
  cursor: pointer;
  background-color: #f3a94c;
  border: 1px solid #f3a94c;
  box-shadow: 1px 2px 4px 3px black;
}
.homeBackground {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}
.computerImg {
  filter: brightness(65%);
}
.imgTop {
  position: absolute;
  top: 20%;
  left: 25%;
  height: 11%;
  width: 55%;
}
.imgMid1 {
  position: absolute;
  top: 35%;
  left: 20%;
  height: 11%;
  width: 55%;
}
.imgMid2 {
  position: absolute;
  top: 50%;
  left: 25%;
  height: 11%;
  width: 55%;
}
.imgBottom {
  position: absolute;
  top: 65%;
  left: 18%;
  height: 11%;
  width: 55%;
}
/*ABOUT PAGE*/
.aboutBody {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 99%;
  width: 100%;
  z-index: 5;
  overflow-x: hidden;
}
.aboutBodyIntro {
  display: grid;
  grid-column: 2 / 7;
  font-size: 25px;
  grid-row: 2 / auto;
  border: 1px solid #f58f10;
  background-color: #031013;
  animation: slideInLeft 0.4s ease-out;
  animation-fill-mode: forwards;
}
.aboutBodyIntro:hover {
  border: 1px solid #f3a94c;
}
.aboutBodyIntro #aboutBodyIntroText {
  font: 0.9em "Roboto", sans-serif;
  color: #f3a94c;
  padding: 1rem;
}
.dynamicDiv {
  display: grid;
  grid-column: 4 / 8;
  grid-row: 5 / 9;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  background-color: #031013;
  color: #f3a94c;
  border: 1px solid #f58f10;
  animation: slideInRight 0.8s ease-out;
}
.dynamicDiv:hover {
  border: 1px solid #f3a94c;
  cursor: pointer;
}
.dynamicDiv h3 {
  font-size: 1.75rem;
}
.fa-html5,
.fa-js,
.fa-css3-alt,
.fa-node,
.fa-react,
.fa-php,
.fa-square-git,
.fa-github {
  color: #f3a94c;
  font-size: 3rem;
}
.aboutBodyArrow {
  display: grid;
  grid-template-columns: [col1] 100%;
  grid-template-rows: [row1] 30% [row2] 50%;
  grid-column: 9 / 9;
  grid-row: 3 / 4;
  color: #f3a94c;
  font-size: 1.75rem;
  animation: fadeIn 2s;
}
.linkToProjects {
  justify-self: end;
}
.fa-arrow-right-long {
  font-size: 5rem;
  color: #f3a94c;
}
.fa-arrow-right-long:hover {
  color: #c4d8e1;
  cursor: pointer;
}
.aboutBackground {
  width: 100%;
  height: 99%;
  position: absolute;
  display: none;
  z-index: 1;
  filter: opacity(70%);
}
.aboutBackground #keyboardImg {
  width: 50%;
  height: 30%;
  position: absolute;
  display: none;
  top: 20%;
  left: 15%;
  z-index: 1;
}
.projectDispContainer {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: [row1] 40% [row2] 40%;
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  min-height: 92vh;
}
.projectDispBox {
  display: grid;
  grid-template-columns: [col1] 50% [col2] 50%;
  grid-template-rows: [row1] 10% [row2] 30% [row3] 10% [row4] 10%;
  grid-template-areas:
    "boxTitle boxTitle"
    "boxImg boxImg"
    "boxDesc boxDesc"
    "boxLink1 boxLink2";
  background-color: #5ebce7;
  justify-items: center;
  overflow: hidden;
  box-shadow: 2px 2px 3px black;
  border-radius: 10px;
}
.projectDispBox img {
  grid-area: boxImg;
  z-index: 2;
}
.projectDispBox h3 {
  grid-area: boxTitle;
  font-size: 1.75rem;
  color: #072329;
  z-index: 5;
}
.projectDispBox p {
  grid-area: boxDesc;
  font-size: 1rem;
  color: #072329;
  z-index: 5;
}
.projectDispBox a {
  font-size: 1.5rem;
  color: #f58f10;
  text-decoration: none;
  z-index: 5;
}
.projectDispBox #boxLink1 {
  grid-area: boxLink1;
}
.projectDispBox #boxLink2 {
  grid-area: boxLink2;
}
.projectDispBox a:hover {
  color: #c4d8e1;
  cursor: pointer;
}
@keyframes slideInLeft {
  from {
    transform: translate(-500%, 0);
  }
  to {
    transform: translate(0%, 0);
  }
}
@keyframes slideInRight {
  from {
    transform: translate(500%, 0);
  }
  to {
    transform: translate(0%, 0);
  }
}
@keyframes slideInUp {
  from {
    transform: translate(0%, -500%);
  }
  to {
    transform: translate(0%, 0);
  }
}
@keyframes slideInDown {
  from {
    transform: translate(0%, 500%);
  }
  to {
    transform: translate(0%, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
